header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: solid 1px #CCCCCC;
}

#logo_header {
    height: 100%;
	width: 140px;

    background-image: url("../images/logo.png");
    background-position: center;
    margin-left: 20px;
}